.ramezkol:hover{animation: radar .8s infinite linear;}
                .pulse{-webkit-animation:pulse .8s linear infinite;-moz-animation:pulse .8s linear infinite;-ms-animation:pulse .8s linear infinite;animation:pulse .8s linear infinite}
                @keyframes &quot;pulse&quot;{
                  0%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
                  50%{-webkit-transform:scale(0.8);-moz-transform:scale(0.8);-o-transform:scale(0.8);-ms-transform:scale(0.8);transform:scale(0.8)}
                  100%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
                }
                @-moz-keyframes pulse{
                  0%{-moz-transform:scale(1);transform:scale(1)}
                  50%{-moz-transform:scale(0.8);transform:scale(0.8)}
                  100%{-moz-transform:scale(1);transform:scale(1)}
                }
                @-webkit-keyframes &quot;pulse&quot;{
                  0%{-webkit-transform:scale(1);transform:scale(1)}
                  50%{-webkit-transform:scale(0.8);transform:scale(0.8)}
                  100%{-webkit-transform:scale(1);transform:scale(1)}
                }
                @-ms-keyframes &quot;pulse&quot;{
                  0%{-ms-transform:scale(1);transform:scale(1)}
                  50%{-ms-transform:scale(0.8);transform:scale(0.8)}
                  100%{-ms-transform:scale(1);transform:scale(1)}
                }
                .post-share &gt;a:hover{-webkit-animation:pulse .8s linear infinite;-moz-animation:pulse .8s linear infinite;-ms-animation:pulse .8s linear infinite;animation:pulse .8s linear infinite}
                @keyframes radar {
                  0% {transform: scale(0); opacity: 0;}
                  25% {transform: scale(0); opacity: 0.5;}
                  50% {transform: scale(1); opacity: 1;}
                  75% {transform: scale(1.5); opacity: 0.5;}
                  100% {transform: scale(2); opacity: 0;}
                }
